/config/config.json
/logs/*
.env
src/telegram/pycache/*
src/database/pycache/*
src/trading/pycache/*
src/types/pycache/*
src/utils/pycache/*
**/__pycache__/ 
.github/copilot-instructions.md
.cursorignore
